body
{
    width : 100%;
    margin : auto;
}
/*******************************************************************************
HEADER
*******************************************************************************/
header
{
    background : url("../images/bg_header.jpg") no-repeat;
    width : 1200px;
    height: 280px;
    margin: auto;
}
#header-wrap
{
    width: 960px;
    margin : auto;
}
#header-left
{
    width: 200px;
    height: 200px;
    float : left;
}
#logo
{
    margin-top : 20px;
}
#header-left .hidden-text
{
    text-indent : -9000px;
}
#header-right
{
    width : 200px;
    height : 200px;
    float: right;
}
#social-nav ul
{
    height: 30px;
    width: 120px;
    display : flex;
    list-style : none;
    margin-right : 0px;
    padding-right : 0px;
    padding-bottom : 10px;
}
#fb-btn
{
    background : url("../images/social-fb.png") no-repeat;
    font-size : 0px;
    width : 30px;
    height: 30px;
    background-color : rgba(0,0,0, 0.2);
    display : inline-block;
    margin-right: 5px;
}
#tw-btn
{
    background : url("../images/social-tw.png") no-repeat;
    font-size : 0px;
    width : 30px;
    height: 30px;
    background-color : rgba(0,0,0, 0.2);
    display : inline-block;
    margin-right: 5px;
}
#gp-btn
{
    background : url("../images/social-g.png") no-repeat;
    font-size : 0px;
    width : 30px;
    height: 30px;
    background-color : rgba(0,0,0, 0.2);
    display : inline-block;
    margin-right: 5px;
}
#search-form
{
    height : 30px;
    display : flex;
}
#keywords
{
    height: 30px;
    background-color : rgba(255,255,255, 0.2);
    border : none;
    color : black;
    margin-right: 0px;
    padding : 0px;
}
#search-btn
{
    background : url("../images/loupe.png") no-repeat;
    font-size : 0px;
    width : 30px;
    height: 30px;
    border : none;
    background-color : rgba(0,0,0, 0.2);
    margin-left: 0px;
}
/*******************************************************************************
NAVIGATION
*******************************************************************************/
#main-nav
{
    margin : auto;
    padding-top: 0px;
    width: 1200px;
    height: 50px;
    margin: auto;
    background-color : #d43839;
}
#main-nav ul
{
    padding-top : 20px;
    width : 700px;
    margin : auto;
}
#main-nav li
{
    display : inline;
    padding-right : 70px;
}
.container a
{
    color : white;
    text-decoration : none;
}
.list-hidden
{
    display : none;
}
#ombre
{
    background : url("../images/ombre.png") no-repeat;
    width: 960px;
    height: 50px;
    margin : auto;
}
/*******************************************************************************
SERVICE
*******************************************************************************/
#services
{
    width : 1200px;
    height : 465px;
    margin: auto;
}
#services
{
    width : 965px;
    margin : auto;
}
#services .hidden-text
{
    visibility : hidden;
}
#service-inner
{

}
.service
{
    margin-top : 35px;
    width : 220px;
    height: 220px;
    display : inline-block;
    color: black;
}
.service h2
{
    color : #9c9c9c;
}
.service p
{
    padding-right : 10px;
    text-align : justify;
}
.service:nth-of-type(1)
{
    background : url("../images/bg_web.gif") no-repeat;
    padding-left : 70px;
}
.service:nth-of-type(2)
{
    background : url("../images/bg_mobile.gif") no-repeat;
    padding-left : 70px;
}
.service:nth-of-type(3)
{
    background : url("../images/bg_photo.gif") no-repeat;
    padding-left : 70px;
}
.more
{
    color : #d43839;
    text-decoration : none;
    margin-right : 10px;
    padding-left: 118px;
}
/*******************************************************************************
PORTFOLIO
*******************************************************************************/
#portfolio
{
    background-color : #e5e5e5;
    width: 1200px;
    height: 540px;
    margin : auto;
}
.container-clearfix
{
    width : 960px;
    margin : auto;
}
#portfolio-left
{
    width: 310px;
    height: 340px;
    display : inline-block;
    vertical-align : top;
    margin-top: 70px;
}
#portfolio-left h3
{
    color : #9c9c9c;
}
#portfolio-left a
{
    display : inline-block;
    max-width: 145px;
    max-height: 40px;
    text-decoration : none;
    color: white;
    background-color : #f84242;
    border-radius : 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top : 15px;
    padding-bottom : 15px;
}
#portfolio-right
{
    width: 600px;
    height: 338px;
    display : inline-block;
}
figure{
    width: 600px;
    height: 338px;
}
#portfolio-right img
{
    margin-top: 80px;
}
figcaption
{
    padding-top : 15px;
    width : 460px;
    height: 65px;
    margin : auto;
    background-color: rgba(255,255,255, 0.5);
    position : relative;
    bottom : 230px;
    text-align: center;
}
figure h3
{

}
/*******************************************************************************
FOOTER
*******************************************************************************/
footer
{
    background-color : #f84242;
    width: 1200px;
    height: 355px;
    margin: auto;
}
#footer-inner
{
    width: 960px;
    margin : auto;
}
.footer-col
{
    width: 315px;
    display : inline-block;
    vertical-align: top;
    width: 270px;
    height: 250px;
    color : white;
    text-align : justify;
    margin-top: 30px;
}
.footer-col p
{
    width: 280px;

}
.footer-col h3
{
    color : #dce2e5;
    background : url("../images/puce.png") no-repeat;
    padding-left : 30px;
}
.item-clearfix img
{
    float: left;
    margin-right : 15px;
}
.footer-col li
{
    margin-bottom : 1em;
}
.footer-col:nth-of-type(1)
{
    padding-right: 25px;
}
.footer-col:nth-of-type(2)
{
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding-left: 25px;
    padding-right: 25px;

}
.footer-col:nth-of-type(3)
{
    padding-left: 25px;
    padding-right: 25px;
}
