body
{
background : url('images/bg_body.png') repeat-x;
height: 1000px;
}
.container
{
    width : 960px;
    margin : auto;
}
/******************************************************************************
HEADER
******************************************************************************/
header
{
    background: url('images/bg_header.jpg') no-repeat;
    height: 175px;
    position : relative;
    bottom : 10px;
}
.titre-container
{
    width: 760px;
    height: 70px;
    margin: auto;
    border : 1px solid white;
    position : relative;
    top : 50px;
}
header h1
{
    text-align : center;
    color : white;
    position : relative;
    bottom : 5px;
}
/******************************************************************************
MAIN
******************************************************************************/
main
{
    background-color: white;
    position : relative;
    bottom : 30px;
    padding-top : 50px;
}
article
{
    width: 640px;
    margin : auto;
    border : 1px solid black;
}
.article-title
{
  height: 80px;
  background-color : #318397;
  color : white;
  position : relative;
  bottom : 27px;
}
#content-title
{
  font-size : 2em;
}
.article-main
{
  padding-left : 20px;
  padding-right: 20px;
  padding-bottom : 20px;
  position : relative;
  bottom : 20px;
}
.article-main p
{
  text-align: justify;
}
/*********************/

/******************************************************************************
FOOTER
******************************************************************************/
footer
{
    height: 180px;
    background-color: #183957;
    padding-top : 30px;
    padding-bottom : 30px;
}
#cont-foot
{
    width: 760px;
    margin: auto;
}
footer p
{
    color: white;
}
footer a
{
    color: #c0ebec;
}
